#home-image {
  float: left;
}

#layout-color {
  background-color: #c1c1c1;
  text-align: center;
}

.home-explain {
  border: 1px solid black;
}

#home-image{
  width: 10%;
}

#logo{
  width: 163%;
  float: left;
  height: auto;
}
