<!--index.vtl-->
<div class="row">
  <h3>How it works</h3>
  <div class="col-md-4 home-explain">
    select a match
  </div>
  <div class="col-md-4 home-explain">
    see moves in the match
  </div>
  <div class="col-md-4 home-explain">
    add moves
  </div>
</div>

<!--index.vtl-->
