<!-- match.vtl -->

<h2>$match.getName()</h2>
<hr>
<li>$match.getHost_org()</li>
<li>$match.getLocation()</li>
<li>$match.getDate()</li>
<li>$match.getAthlete_1_name() - $match.getAthlete_1_belt()-belt</li>
<li>$match.getAthlete_2_name() - $match.getAthlete_2_belt()-belt</li>
<li>$match.getWeight_class()</li>
<li>
  <iframe width="560" height="315" src="$match.getMatchURL()" frameborder="0" allowfullscreen></iframe>
</li>
<h4>Moves</h4>

<!-- match.vtl -->
